.example {
    width: 1200px;
    height: 850px;
    margin: auto;
    background-color: #F8F8F8;

    &_title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 49px;
        color: #171616;
        text-align: center;
        padding-top: 40px;
    }

    &_buttons {
        display: flex;
        gap: 10px;
        margin-left: 5px;
    }

    &_button {
        width: 230px;
        height: 48px;
        background: #E6E6E6;
        border-radius: 4px;
        border: none;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #595959;
        margin-top: 50px;
    }

    &_button:hover {
        background-color: #2D4872;
        color: #fff;
        transition: all 1s ease;
    }

    &_button:active {
        background-color: #171616;
        color: white;
    }

    &_inputs {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin-top: 50px; 
    }

    &_input {
        display: flex;
        gap: 15px;
    }

    &_input_text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #171717;
    }

    &_images_div {
        display: flex;
    }

    &_images {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 50px;
    }

    &_image_main {
        width: 82px;
        height: 58px;
        border: 1px solid black;
        border-radius: 2px;
    }

    &_image {
        width: 82px;
        height: 58px;
        border: none;
        border-radius: 2px;
    }

    &_div {
        width: 1098px;
        height: 405px;
        display: flex;
    }

    &_div_img {
        width: 711px;
        height: 405px;
        margin-top: 50px;
        margin-right: 35px;
    }

    &_div_texts {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 50px;
    }

    &_div_text_1 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #595959;
    }

    &_div_text_1 span {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #171616;
        padding-left: 40px;
    }

    &_div_text_2 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #595959;
    }

    &_div_text_2 span {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #171616;
        padding-left: 20px;
    }

    &_div_text_3 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #595959;
    }

    &_div_text_3 span {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #171616;
        padding-left: 55px;
    }

    &_div_text_4 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #595959;
    }

    &_div_text_4 span {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #171616;
        padding-left: 36px;
    }

    &_div_text_5 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #595959;
    }

    &_div_text_5 span {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #171616;
        padding-left: 47px;
    }

    &_div_text_6 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #595959;
    }

    &_div_sml_texts {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-left: 10px;
    }

    &_div_sml_text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #171616;
    }

    &_btn_div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
    }

    &_btn {
        width: 205px;
        height: 48px;
        background: #6CAC3D;
        border-radius: 4px;
        border: none;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
    }

    &_btn:hover {
        background-color: #000;
        color: cyan;
        transition: all 1s ease;
    }

    &_btn:active {
        background-color: #000;
        color: blue;
    }
}