@import "./general";
@import "./navbar";
@import "./intro";
@import "./price";
@import "./example";
@import "./discount";
@import "./works";
@import "./material";
@import "./quality";
@import "./adventages";
@import "./review";
@import "./our_team";
@import "./masters";
@import "./our_channel";
@import "./supplier";
@import "./questions";
@import "./consultation";
@import "./footer";