.price {
    width: 1200px;
    height: 700px;
    margin: auto;
    background-color: #f6efef;

    &_title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 49px;
        color: #171616;
        text-align: center;
        margin-bottom: 50px;
    }

    &_cards {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    &_card {
        width: 280px;
        height: 582px;
        border-radius: 15px;
        background-color: #fff;
    }

    &_card_img_title {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 284px;
        height: 85px;
        padding-left: 20px;
        background-color: #E3EAEF;
        border-radius: 15px;
    }

    &_card_img {
        width: 57px;
        height: 57px;
    }

    &_card_title {
        width: 100px;
        height: 16px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px; 
        color: #171616;
        margin-bottom: 20px;
    }

    &_card_title span {
        width: 300px;
        height: 21px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: #6CAC3D;
    }

    &_card_text {
        width: 239px;    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #171616;
        margin: 25px auto;
    }

    &_card_line {
        width: 280px;
        height: 2px;
        border: 1px solid #2D4872;
    }

    &_card_subtitle {       
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #171616;
        padding-left: 20px;
        padding-top: 20px;
    }

    &_card_text_2 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #171616;
    }

    &_card_icon_text {
        display: flex;
        gap: 5px;
        padding-left: 15px;
        padding-top: 5px;
    }

    &_card_icon {
        width: 13px;
        height: 13px;
    }

    &_card_text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #171616;
    }

    &_card_bottom {
        display: flex;
        flex-direction: column;
    }

    &_card_spe_text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #C4C4C4;
    }

    &_card_icon_2 {
        width: 13px;
        height: 13px;
        color: #C4C4C4;
    }

    &_card_bottom_title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: #2D4872;
        margin: 20px auto 8px auto;
    }

    &_card_bottom_text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px; 
        color: #171616;
        text-align: center;
    }

    &_card_bottom_text span {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #6CAC3D;
        padding-left: 10px;
    }

    &_card_bottom_btn {
        width: 188px;
        height: 48px;
        background: #6CAC3D;
        border-radius: 4px;
        border: none;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        margin: 20px auto;
    }

    &_card_bottom_btn:hover {
        background-color: #000;
        color: cyan;
        transition: all 1s ease;
    }

    &_card_bottom_btn:active {
        background-color: #000;
        color: blue;
    }
}

#price_card_spe_text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #C4C4C4;
        padding: 17px;
}